<%- include ('templates/header'); -%>


	<head>
	    <link rel="stylesheet" type ="text/css" href="app.css">
<style>
* {
  box-sizing: border-box;
}

body  {
  background-image: url("img/bandw.jpg");
  background-repeat: repeat;
  background-size: 100%;
  opacity: 1.0;
}

main{
    color: white;
}

</style>
        <meta charset="utf-8" />
        
       <link rel="stylesheet" type ="text/css" href="app.css">
	</head>

<div class="jumbotron">
	<body>
        <header>
            <div id="content2">
            <left>
                <img src ="img/sonic.png" alt="Sonic" style="max-width:10%;" class="ribbon" />
            </left>
            </div>
            <div id="content3">
            <right>
                <img src ="img/sonic1.png" alt="Sonic" style="max-width:10%;" class="ribbon" />
            </right>
            </div>
            <center>
            <h1 class = "title">The Sega Genesis</h1>
            </center>
        </header>
        <nav>
            <center>
            <hr width="50%" />
            <a href = "/"><u>Home</u></a>
            <a href = "/spec">Specifications</a>
            <a href = "/impact">Impact</a>
            <a href = "/reference">Reference</a>
            <a href = "/search">Search</a>
            </center>
        </nav>
        <main>
                <br/><br /><br />
        <p>Sega Genesis does what<strong> NINTENDONT! </strong>Are you ready for the 16-bit evolution?</p>
        <p>This webpage provides a short and sweet expierence about the Sega Genesis on specs, impact, and more!</p>
            <br/><br /><br />
            <div class="row">
                 <div class="column">
          <img src ="GenesisGames/sonic.jpg" alt="Sonic" style="width:80%"/>
          </div>
          
           <div class="column">
          <img src ="GenesisGames/sonic2.jpg" alt="Sonic" style="width:80%"/>
          </div>
          
            <div class="column">
          <img src ="GenesisGames/battletoads.jpg" alt="Sonic" style="width:80%"/>
          </div>
              
          </div>
          
        </main>
         <br/><br /><br />


<%- include ('templates/footer'); -%>