<%- include ('templates/header'); -%>
	<head>
	    <link rel="stylesheet" type ="text/css" href="app.css">
<style>

main{
    color: white;
}
body  {
  background-image: url("img/bandw.jpg");
  background-repeat: repeat;
  background-size: 100%;
  opacity: 1.0;
}

         </style>
        <meta charset="utf-8"/>
        <title>Sega Genesis Impact</title>
         <link rel="stylesheet" type ="text/css" href="app.css">
	</head>

<div class="jumbotron">
	<body>
	     
        <header>
            <div id="content2">
            <left>
                <img src ="img/sonic.png" alt="Sonic" style="max-width:10%;" class="ribbon" />
            </left>
            </div>
            <div id="content3">
            <right>
                <img src ="img/sonic1.png" alt="Sonic" style="max-width:10%;" class="ribbon" />
            </right>
            </div>
            <center>
            <h1 class = "title">The Sega Genesis</h1>
            </center>
        </header>
        <nav>
            <center>
            <hr width="50%" />
            <a href = "/">Home</a>
            <a href = "/spec">Specifications</a>
            <a href = "/impact"><u>Impact</u></a>
            <a href = "/reference">Reference</a>
            <a href = "/search">Search</a>
            </center>
        </nav>
        <main>
             <br/><br /><br />
        <p><strong class = "title">The Sega Genesis</strong> luanched at the year <strong class = "title">1988</strong> and in its lifespan till 1997 sold over <strong class = "title">35 million</strong> consoles.</p>
        <p>Sega was hell bent on giving the princess chasing company <strong class = "title">Nintendo</strong> a run for their money.To combat their dominance in the video game
        market, Sega up the stakes and provided true<strong class = "title"> 16-bit </strong>gaming to the world. It took some time for people to 
        take this brand seriously due to the popularity of Super Mario 3 at the time. However, Sega quickly grabbed audiences by putting in  <strong class = "title">sports</strong>,  <strong class = "title">celebrities</strong>, and  <strong class = "title">movies</strong> into
        video games...<strong class = "title">Nintendo</strong> acknowledged that <strong class = "title">Sega</strong> was to not be reckoned with.</p>
        
        <p><strong>Top 10 Games Sold</strong></p>
        <ol>
        <li>Sonic the Hedgehog <strong class = "title">15 million</strong></li>
         <li>Sonic the Hedgehog 2 <strong class = "title">6 million</strong></li>
          <li>Disney's Aladin <strong class = "title">4 million</strong></li>
           <li>Sonic the Hedgehog 3 and Sonic & Knuckles <strong class = "title">4 million</strong></li>
            <li>NBA Jam <strong class = "title">1.93 million</strong></li>
             <li>Mortal Kombat II <strong class = "title">1.78 million</strong></li>
              <li>Street Fighter II: Special Champion Edition <strong class = "title">1.65 million</strong></li>
               <li>Altered Beast <strong class = "title">1.4 million</strong></li>
                <li>Mortal Kombat 3 <strong class = "title">1.02 million</strong></li>
                 <li>Jurassic Park <strong class = "title">+1 million</strong></li>
                  </ol>
             <p><strong>Legacy</strong></p>
             <p>Since Sega folded due to uprising competition in the new millennium, Nintendo bought Sega/Sega rights. In doing so, 20 years later
             the Genesis is still rooted in the Video Game maket. To honorate this legacy, Ninetendo released the "Sega Genesis Mini" packed with +20
             games.</p>
             <br/>
             <center>
             <p>You can also see more about the <strong class = "title">Sega Genesis impact</strong> in this video!</p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/PRVr1heimY8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </center>
            <br/><br /><br />
        </main>
<%- include ('templates/footer'); -%>