<%- include ('templates/header'); -%>

	<head>
	     <link rel="stylesheet" type ="text/css" href="app.css">
<style>

body  {
  background-image: url("img/bandw.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  opacity: 1.0;
}

main{
    color: white
}

         </style>
        <meta charset="utf-8" />
        <title>Sega Genesis Reference</title>
          <link rel="stylesheet" type ="text/css" href="app.css">
	</head>

<div class="jumbotron">
	<body>
	     
        <header>
            <div id="content2">
            <left>
                <img src ="img/sonic.png" alt="Sonic" style="max-width:10%;" class="ribbon" />
            </left>
            </div>
            <div id="content3">
            <right>
                <img src ="img/sonic1.png" alt="Sonic" style="max-width:10%;" class="ribbon" />
            </right>
            </div>
            <center>
            <h1 class = "title">The Sega Genesis</h1>
            </center>
        </header>
        <nav>
            <center>
            <hr width="50%" />
            <a href = "/">Home</a>
            <a href = "/spec">Specifications</a>
            <a href = "/impact">Impact</a>
            <a href = "/reference"><u>Reference</u></a>
            <a href = "/search">Search</a>
            </center>
        </nav>
        <main>
            <br/><br /><br />
             <p>Link 1: <a href="https://www.consoledatabase.com/consoleinfo/segamegadrive/">consoledatabase.com</a> .</p>
             <p>Link 2: <a href="https://en.wikipedia.org/wiki/List_of_best-selling_Sega_Genesis_video_games">wikipedia</a> .</p>
        </main>


<%- include ('templates/footer'); -%>